<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
    <a class="navbar-brand" style="margin-top: -20pt;" href="{{ site.url }}{{ site.baseurl }}/"><img src="{{ site.url }}{{ site.baseurl }}/images/logopic/hydro90_font.png" height="200%"></a>
	</div>
	<div class="collapse navbar-collapse" id="navbar-collapse-1">
	  <ul class="nav navbar-nav navbar-right">
		<li><a href="{{ site.url }}{{ site.baseurl }}/">首页</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/m_team">团队</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/m_general_article">论文速递</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/m_top_journal">聚焦顶刊</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/m_joinus">加入我们</a></li>
	  </ul>
	</div>
  </div>
</div>
