---
layout: default
---
<div class="row">
  <div id="homeid" class="col-sm-8">
    {{ content }}
  </div>

  <div id="newsid" class="col-sm-4" >
    <h3>Hydro90版块</h3>
    {% include products.html %}

    <h3>Hydro90动态 (Twitter)</h3>
     <a class="twitter-timeline" data-tweet-limit="5" data-link-color="#007bff" href="https://twitter.com/hydro90er" data-chrome=”noheader” data-chrome="nodate">
      Tweets by Hydro90
         </a>
     <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
